body{
    background-color: #141B15;
    color: #D7DAD9;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-x: hidden;
    cursor: url('img/cursorQ.png'), auto;
}
a{
    all: unset;
    transition: color 0.1s ease;
}
a:hover{
    cursor: url('img/cursorPointer.png'), auto;
}
/* a:active{
    color: #A6CE8A;
} */
h1{
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 60px;
    color: #E9F3E2;
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 16px;
    transition: color 0.2s ease;
}
h1:hover{
    color: #7AB550;
}
.headerContainer{
    padding: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: left;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    margin-left: 20px;
    margin-right: 16px;
    transition: color 0.1s ease;
}
h2:hover{
    color: #4D8861;
}
h3{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 4px;
    text-align: left;
    transition: background-color 0.1s ease, color 0.1s ease, padding-left 0.1s ease; 
    border-radius: 2px;
    border-bottom: 1px solid #4E5046;
}
h3:hover{
    color: #030502;
    background-color: #7AB550;
    padding-left: 20px;
}
.thumbnail{
    position: absolute;
    right: 4vw;
    top: 25%;
    opacity: 0%;
    transition: opacity 0.2s ease, right 0.1s ease;
    z-index: -100;
}
.title{
    display: block;
    width: 46%;
}
.title:hover + .thumbnail{
    opacity: 100%;
    right: 5vw;
}
.thumbnail_image{
    border-radius: 2px;
    width: 624px;
    height: auto;
}
@media (max-width: 600px) {
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 20px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    h3:hover{
        background-color: #7AB55099;
        color:white;
    }
    .thumbnail{
        right: 7%;
        top: 40%;
    }
    .title{
        width: 100%;
    }
    .thumbnail_image{
        width: 100%;
    }
    .title:hover + .thumbnail{
        right: 0%;
    }
}
h4{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 4px;
}
@media (max-width: 600px){
    h4{
        font-size: 20px;
    }
}
h5{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin:0;
    padding: 4px;
}
h6{
    display: inline;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin:0;
    padding: 4px;
    transition: color 0.1s ease;
}
h6:hover{
    color: #669743;
}
.topImageSpan{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.topImage{
    position: absolute;
    top:0%;
    /* left:40%; */
    right: 0;
    width: 62vw;
    overflow-x: hidden;
    /* height: auto; */
    overflow-y: hidden;
    z-index: -101;
}
.topParagraph{
    margin-left: 20%;
    margin-right: 20%;

    padding-left: 10%;
    padding-right: 10%;

    margin-top: 15%;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #030502BB;
    border-radius: 2px;
}
@media (max-width: 600px) {
    .topParagraph {
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.topParagraphText{
    
    font-family: "Jost", sans-serif;
    font-size: 24px;
    /* font-weight: 350; */
    line-height: 36px;
    font-style: normal;
}
p{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.paragraphs{
    /* margin: 5%; */
    display: flex;
    padding: 5%;
    /* width: 50%; */
    background-color: #141B15;
}
.spacer30{
    width: 40%;
    max-width: 500px;
    min-width: 0px;
    /* background-color: white; */
}
mark{
    background-color: inherit;
    color: #B1F8B1;
}
.italics{
    font-style: italic;
}
.quotesContainer{
    padding: 0 5%;
}
.quotes{

    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    color: #D7DAD9;
    
}
.moreInfo{
    display:block;
    font-size: 18px;
    text-decoration: underline;
}
.moreInfo a{
    transition: color 0.2s ease;
}
.moreInfo a:hover{
    color: #86918D;
}
.imageLibraryContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
}
.column {
    flex: 30%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 2px;
}
.bubbleCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 4%; */
    /* justify-content: center; */
}
.bubble img{
    margin-top: 20px;    
    width: 90%;
    height: auto;
    border-radius: 50px;
    vertical-align: middle;
    
}
@media (max-width: 600px) {
    .column {
        flex: 100%;
        padding: 0;
    }
}
.elegyLargeImage{
    border-radius: 5px;
    /* opacity: 70%; */
}
.column iframe{
  margin-top: 8px;
  width: 100%;
  height: 315px;
  vertical-align: middle;
}
.textWithinColumn{
    padding: 5%;
}
.aboutColCont{
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
}
.aboutCol{
    flex: 30%;
    padding: 0 4px;
    
    /* background-color: #7AB550; */
}
.aboutTop{
    /* padding-bottom: 16px; */
    width: 100%;
    border-left: 5px solid #B1F8B1;                
}
.aboutParagraphs{
    border-left: 1px solid #4E5046;
}
footer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
footer h6{
    opacity: 0.6;
    font-size: 12px;
    font-weight: 300;;
    padding: 4px;
}
:root{
    animation: animate-time 1000ms linear infinite;    
}
@keyframes animate-time {
    from {
        --t: 0;
    }
    to {
        --t: 100000;
    }
}
.oops{
    font-size: 150px;

    --time: calc(var(--t) / 1000);
    --rounded-time: round(nearest, var(--time));
    
    font-weight: calc(100 + 8 * var(--rounded-time)) ;
    transition: font-weight 1s ease-in-out;
}
